################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/TestKostaApp/v15/.suo
/.vs/TestKostaApp/v15/Server/sqlite3/db.lock
/Assignment/~$адание.doc
/.vs/TestKostaApp/v15/Server/sqlite3/storage.ide-wal
/.vs/TestKostaApp/v15/Server/sqlite3/storage.ide-shm
/.vs/TestKostaApp/v15/Server/sqlite3/storage.ide
/.vs
